<%- include("inc/header") -%>
<div class="container">

    <% if(typeof alert != "undefined") { %>
        <% alert.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
    </button>
</div>
        <%})%>
    <%}%>


</div>

<div class="form_div">
    <div class="login_div">
        <form class="login_form" id="formDemo" action="/login" method="post">
            <label>Email:</label>
            <input class="demo2" type="email" name="username" placeholder="email..." autofocus autocomplete="off" required>
            <label>Password:</label>
            <input class="demo1" type="password" name="password" placeholder="password..." required>
            <button type="submit" name="login_btn">Login</button>
            <button type="button" class="nav_btn" id="demo">Demo</button>
            <a href="/register">Don't have an account? Signup!</a>
            <a href="/forgotPassword">Forgot password?</a>
        </form>
    </div>
</div>

<%- include("inc/footer") -%>