<%- include("inc/header") -%>



<div class="nav_div">
<div class="img_div">
<img src="image.png" alt="Logo" width="200px">
</div>
<div class="btn_div">
    <button class="nav_btn"><a href="/login">Login</a></button>
    <button class="nav_btn"><a href="/register">SignUp</a></button>
</div>
</div>



<%- include("inc/footer") -%>