<%- include("inc/header") -%>

<div class="container">

    <% if(typeof alert != "undefined") { %>
        <% alert.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
    </button>
</div>
        <%})%>
    <%}%>


</div>

<div class="set_div">
    <div class="newpass_div">
        <form class="set_form" action="" method="post">
            <label>Enter Your New Password:</label>
            <input type="password" name="password" placeholder="...new pass" required autofocus>
            <button  type="submit">Set</button>
        </form>
    </div>
</div>

<%- include("inc/footer") -%>