<%- include("inc/header") -%>

<div class="set_div">
    <div class="forgot_div">
        <form class="set_form" action="/passwordset" method="post">
            <p>Make sure to check your **JUNK MAIL**</p>
            <label>Enter Your User Email:</label>
            <input type="email" name="setpassemail" placeholder="...user email" required autofocus autocomplete="off">
            <button type="submit">Send me the Email</button>
        </form>
    </div>
</div>

<%- include("inc/footer") -%>